<?xml version='1.0' encoding='UTF-8' ?> 
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html">

    <h:head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <h:outputStylesheet name="./css/bootstrap.min.css" />      
        <h:outputStylesheet name="./css/bootstrap-theme.min.css" />              
        <h:outputScript name="./js/bootstrap.min.js" />
        <title>Hospital Local Arjona</title>
    </h:head>

    <h:body>

        <div class="container">
            <div id="top" class="page-header">
                <h1>Hospital Local Arjona, <small>Bienvenido!!</small></h1>
                <ui:insert name="top">

                </ui:insert>
            </div>
            
            <div class="navbar navbar-default">
                
                <ul class="nav navbar-nav">
                    <li><a href="principal.xhtml">Inicio</a></li>
                    <li><a href="#">Pacientes</a></li>                    
                    <li><a href="#">Perfil</a></li>
                    <li>                        
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            Dropdown
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#">Dropdown link</a></li>
                            <li><a href="#">Dropdown link</a></li>
                        </ul>                        
                    </li>

                </ul>
                <ui:insert name="nav">
                </ui:insert>
            </div>
            

            <div id="content">
                <ui:insert name="content">
                    
                </ui:insert>
            </div>           
        </div>
    </h:body>
</html>
