<?xml version='1.0' encoding='UTF-8' ?> 
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui">

    <h:head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <h:outputStylesheet name="./css/bootstrap.min.css" />      
        <h:outputStylesheet name="./css/bootstrap-theme.min.css" />              
        <h:outputScript name="./js/bootstrap.min.js" />
        <title>Hospital Local Arjona</title>
    </h:head>

    <h:body>

        <div class="container">
            <div id="top" class="page-header">
                <h1>Hospital Local Arjona, <small>Bienvenido!!</small></h1>
                <ui:insert name="top">

                </ui:insert>
            </div>
            
            <div class="navbar navbar-default">
                <ui:insert name="nav">
                <ul class="nav navbar-nav">
                    <li><a href="#">Inicio</a></li>
                    <li><a href="#">Administracion</a></li>
                    <li><a href="#">Urgencias Recientes</a></li>
                    <li>                        
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            Dropdown
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#">Dropdown link</a></li>
                            <li><a href="#">Dropdown link</a></li>
                        </ul>                        
                    </li>

                </ul>
                </ui:insert>
            </div>
            

            <div id="content">
                <ui:insert name="content">
                    <div class="container">
                        <div class="row">                           
                            <div class="col-xs-6">
                                <div class="jumbotron">
                                    <h2>Acerca de Nosotros</h2>
                                    <p>
                                        Somos una entidad especializada <br/>
                                        en el tratamiento de nuestros   <br/>
                                        pacientes 
                                    </p>
                                    <p><a class="btn btn-primary btn-lg" role="button">Conozca Mas</a></p>
                                </div>
                            </div>
                            <div class="col-xs-6">
                                <p:galleria value="#{beanGallery.images}" var="image" autoPlay="true"
                                            panelWidth="470" panelHeight="270" 
                                            showCaption="true">
                                    <p:graphicImage value="/resources/img/#{image}"
                                                    alt="Image Description for #{image}"/>
                                </p:galleria>
                            </div>
                        </div>
                    </div>
                </ui:insert>
            </div>

            <div id="bottom" class="container">
                
                    <div class="row">
                        <div class="col-xs-4"><h2>Mision</h2><p>Aca va la mision</p></div>
                        <div class="col-xs-4"><h2>Vision</h2><p>Aca va la vision</p></div>
                        <div class="col-xs-4"><h2>Perfil</h2><p>Aca va el perfil</p></div>
                    </div>
                <ui:insert name="bottom">
                </ui:insert>
            </div>
        </div>
    </h:body>

</html>
