<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <body style="font-size: small">

        <ui:composition template="./../../Templates/mainRecep.xhtml">

            <ui:define name="top">

            </ui:define>

            <ui:define name="nav">

            </ui:define>

            <ui:define name="content">
                <p:growl id="messages"/>
                <h:form>
                    <p:dataTable value="#{beanAdmin.doctores}" var="d" selection="#{beanSchedule.doctor}"
                                 rowKey="#{d.identificacion}"  paginator="true" rows="4" paginatorPosition="top"
                                 selectionMode="single" style="margin-bottom: 10px;" >
                        <!--<p:ajax event="selectEvent" listener="#{beanSchedule.onRowSelect}" update=":msj" />-->
                        <p:ajax event="rowSelect" listener="#{beanSchedule.onRowSelect}" update=":messages"
                                oncomplete="PF('myschedule').update();" />
                        <p:column headerText="Identificacion">#{d.identificacion}</p:column>
                        <p:column headerText="Nombbre">#{d.nombres}</p:column>
                        <p:column headerText="Apellido">#{d.apellidos}</p:column>
                        <p:column headerText="Especialidad" filterBy="#{d.especialidad}"
                                  filterStyle="height: 20px;">#{d.especialidad}</p:column>
                    </p:dataTable>
                </h:form>
                <h:form id="form" >
                    <p:schedule id="sch" widgetVar="myschedule" value="#{beanSchedule.eventModel}"                                  
                                resizable="false" locale="es" 
                                view="agendaWeek" allDaySlot="false" minTime="7" maxTime="20" 
                                rightHeaderTemplate="agendaWeek agendaDay" >                        
                        <p:ajax event="dateSelect" listener="#{beanSchedule.onDateSelect}" update="eventDetails, :messages"
                                oncomplete="PF('eventDialog').show();" />

                        <p:ajax event="eventSelect" listener="#{beanSchedule.onEventSelect}"
                                update="eventDetails" oncomplete="PF('eventDialog').show();" />
                        <!--<p:ajax event="eventMove" listener="#{beanSchedule.onEventMove}" update=":messages" />                              -->
                    </p:schedule>

                    <p:dialog widgetVar="eventDialog" header="Detalles" showEffect="clip"
                              hideEffect="clip" resizable="false" modal="true">
                        <h:panelGrid id="eventDetails" columns="2">
                            <!--
                            <h:outputLabel value="Id Paciente" />
                            <p:inputText value="#{beanSchedule.pedircita.pacientes.identificacion}" />                                                                                        
                            
                            <h:outputLabel value="Doctor" />
                            <p:inputText value="#{beanSchedule.doctor.nombres}" disabled="true"/>                                                                                                                    
                            
                            -->
                            <h:outputLabel value="Fecha/Hora" />
                            <p:inputText value="#{beanSchedule.selected}" disabled="true">
                                <f:convertDateTime pattern="dd/MM/yyyy HH:mm" />
                            </p:inputText>
                        </h:panelGrid>    
                        <p:separator />    
                        <p:commandButton id="addButton" value="Guardar" actionListener="#{beanSchedule.addEvent}" 
                                         oncomplete="PF('myschedule').update();PF('eventDialog').hide();" />
                        <p:commandButton value="Cancelar" />

                    </p:dialog>
                    
                    <!--
                    <p:dialog widgetVar="regpaciente" header="Registrar Paciente" showEffect="clip">
                        <h:panelGrid columns="2">
                            <h:outputLabel value="Identificacion" />
                            <p:inputText value="#{beanSchedule.pedircita.pacientes.identificacion}" />
                            
                            <h:outputLabel value="Nombre" />
                            <p:inputText value="#{beanSchedule.pedircita.pacientes.nombres}" />
                            
                            <h:outputLabel value="Apellido" />
                            <p:inputText value="#{beanSchedule.pedircita.pacientes.apellidos}" />
                            
                            <h:outputLabel value="Direccion" />
                            <p:inputText value="#{beanSchedule.pedircita.pacientes.direccion}" />
                            
                            <h:outputLabel value="Email" />
                            <p:inputText value="#{beanSchedule.pedircita.pacientes.email}" />
                            
                            <h:outputLabel value="Fecha de Nacimiento" />
                            <p:calendar value="#{beanSchedule.pedircita.pacientes.fechaNacimiento}" />
                            
                            <h:outputLabel value="Eps" />
                            <p:selectOneMenu value="#{beanSchedule.pedircita.pacientes.eps}" >
                                <f:selectItem itemLabel="Seleccione" itemValue="" />
                                <f:selectItems value="#{beanSchedule.eps}" />
                            </p:selectOneMenu>
                            
                            <h:outputLabel value="Genero" />
                            <p:selectOneMenu value="#{beanSchedule.pedircita.pacientes.genero}" >
                                <f:selectItem itemLabel="Masculino" itemValue="Masculino" />
                                <f:selectItem itemLabel="Femenino" itemValue="Femenino" />
                            </p:selectOneMenu>
                        </h:panelGrid>
                        <p:separator />
                        <p:commandButton value="Guardar" oncomplete="PF('regpaciente').hide();" update=":messages"/>
                        <p:commandButton value="Cancelar" />
                    </p:dialog>
-->

                    
                </h:form>

                <script type="text/javascript">
                    PrimeFaces.locales['es'] = {
                        closeText: 'Cerrar',
                        prevText: 'Anterior',
                        nextText: 'Siguiente',
                        currentText: 'Hoy',
                        monthNames: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio',
                            'Julio', 'Agosto', 'Septiempre', 'Octubre', 'Noviembre', 'Diciembre'],
                        monthNamesShort: ['Ene', 'Feb', 'Mar', 'Abr', 'May', 'Jul',
                            'Jun', 'Ago', 'Sep', 'Oct', 'Nov', 'Dic'],
                        dayNames: ['Domingo', 'Lunes', 'Martes', 'Miercoles', 'Jueves', 'Viernes', 'Sabado'],
                        dayNamesShort: ['Dom', 'Lun', 'Mar', 'Mier', 'Jue', 'Vie', 'Sab'],
                        dayNamesMin: ['Dom', 'Lun', 'Mar', 'Mier', 'Jue', 'Vie', 'Sab'],
                        weekHeader: 'Hf',
                        firstDay: 1,
                        isRTL: false,
                        showMonthAfterYear: false,
                        yearSuffix: '',
                        month: 'Mes',
                        week: 'Semana',
                        day: 'Dia',
                        allDayText: 'Todo el dia'
                    };
                </script>
            </ui:define>

        </ui:composition>

    </body>
</html>
