<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <link type="text/css" rel="stylesheet" href="../resources/css/bootstrap.min.css"></link>
        <link type="text/css" rel="stylesheet" href="../resources/css/bootstrap-theme.min.css"></link>
        <title>Iniciar Sesion</title>
    </h:head>
    <h:body style="background-color: #333">
        <p:growl />
        <center style="margin-top:200px;">
            <div class="panel panel-primary" style="height: 220px; width: 40%;">
                <div class="panel-heading"><h4 style="margin-top: -1px; margin-bottom: -1px;">Iniciar Sesion</h4></div>
                <div class="panel-body">                                                   
                    <h:form>
                        <h:panelGrid columns="2">
                            <h:outputLabel value="Usuario" />
                            <p:inputText required="true" value="#{beanSesion.usr}" size="15"
                                         requiredMessage="Ingrese Usuario" maxlength="10"
                                         style="margin: 10px" />
                            <h:outputLabel value="Pass" style="margin: 10px;"/>
                            <p:password required="true" value="#{beanSesion.contra}"
                                        requiredMessage="Ingrese Contraseña" maxlength="10" size="15"
                                        style="margin: 10px" />                                                
                        </h:panelGrid>                        
                        <div class="pull-right" style="margin-top: 10px;">
                             
                            <h:commandButton  value="Iniciar" class="btn btn-primary" 
                                              style="margin-right: 20px"
                                              action="#{beanSesion.Iniciar}"/> 
                            <h:commandButton  value="Cancelar" class="btn btn-primary" />                                                                                                                    
                        </div>                                                
                    </h:form>
                    
                </div>
            </div>            
        </center>
    </h:body>
</html>

