<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.rg/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <body>

        <ui:composition template="./../../Templates/mainAdmin.xhtml">

            <ui:define name="top">

            </ui:define>

            <ui:define name="nav">

            </ui:define>

            <ui:define name="content">
                <p:growl id="msjs" />
                <center>
                    <div class="panel panel-primary">
                        <div class="panel-heading"><span style="font-size: 20px">Registrar</span></div>
                        <div class="panel-body">
                            <h:form>                        
                                <h:panelGrid columns="2">
                                    <h:outputLabel value="Identificiacion" />
                                    <p:inputText value="#{beanAdmin.doctor.identificacion}" required="true" 
                                                 requiredMessage="Ingrese una id" size="15"/>                         
                                    <h:outputLabel value="Nombre(s)" />
                                    <p:inputText value="#{beanAdmin.doctor.nombres}" required="true" size="15"
                                                 requiredMessage="Ingrese un nombre" />
                                    <h:outputLabel value="Apellidos" />
                                    <p:inputText value="#{beanAdmin.doctor.apellidos}" required="true" size="15"
                                                 requiredMessage="Ingrese un apellido" />
                                    <h:outputLabel value="Direccion" />
                                    <p:inputText value="#{beanAdmin.doctor.direccion}" required="true" size="15"
                                                 requiredMessage="Ingrese una direccion" />
                                    <h:outputLabel value="Email" />
                                    <p:inputText value="#{beanAdmin.doctor.email}" required="true" size="15"
                                                 requiredMessage="Ingrese un email" />                                         
                                    <h:outputLabel value="F. de Nacimiento" />
                                    <p:calendar value="#{beanAdmin.doctor.fechaNacimiento}" size="15" navigator="true"
                                                />                            
                                    <h:outputLabel value="Genero" />                                                                        
                                    <p:selectOneMenu  value="#{beanAdmin.doctor.genero}"  style="width: 100%;">    
                                        <f:selectItem itemLabel="Seleccione" itemValue="" />
                                        <f:selectItem itemLabel="Masculino" itemValue="Masculino"  />
                                        <f:selectItem itemLabel="Femenino"  itemValue="Femenino"/>
                                    </p:selectOneMenu>                                    
                                    <h:outputLabel value="Especialidad" />                                                                        
                                    <p:selectOneMenu  style="width: 100%;" value="#{beanAdmin.doctor.especialidad}" >    
                                        <f:selectItem itemLabel="Seleccione" itemValue="" />
                                        <f:selectItem itemLabel="Odontologo" itemValue="Odontologo"  />
                                        <f:selectItem itemLabel="Pediatra"  itemValue="Pediatra"/>
                                    </p:selectOneMenu>

                                    <p:commandButton value="Registrar" actionListener="#{beanAdmin.Guardar}"
                                                     icon="ui-icon-circle-check" 
                                                     update=":mostrar:mytable :msjs"/>
                                    <p:commandButton type="reset" icon="ui-icon-circle-close" value="cancelar" />
                                </h:panelGrid>
                            </h:form>
                        </div>
                    </div>


                    <h:form style="margin-top: 30px;" id="mostrar" >
                        <p:dataTable value="#{beanAdmin.doctores}" var="docts" id="mytable" editable="true" 
                                     emptyMessage="No se han encontrado registros"
                                     paginator="true" rows="5" paginatorPosition="bottom">
                            
                            <p:ajax event="rowEdit" listener="#{beanAdmin.Modificar}" update=":mostrar:mytable :msjs" /> 
                            
                            <p:column headerText="Identificacion" filterBy="#{docts.identificacion}" >
                                #{docts.identificacion}
                            </p:column>
                            <p:column headerText="Nombre(s)" >
                                <p:cellEditor>
                                    <f:facet name="output"><h:outputText value="#{docts.nombres}" /></f:facet>
                                    <f:facet name="input"><p:inputText id="nombreInput" value="#{docts.nombres}" 
                                                                       /></f:facet>
                                </p:cellEditor>                                
                            </p:column>
                            <p:column headerText="Apellido" >
                                <p:cellEditor>
                                    <f:facet name="output"><h:outputText value="#{docts.apellidos}" /></f:facet>
                                    <f:facet name="input"><p:inputText id="apeInput" value="#{docts.apellidos}" 
                                                                       /></f:facet>
                                </p:cellEditor>   
                                <!-- Hacer los demas campos editables -->
                            </p:column>
                            <p:column headerText="Especialidad" >
                                #{docts.especialidad}
                            </p:column>
                            <p:column headerText="email">
                                #{docts.email}
                            </p:column>
                            <p:column headerText="Editar" width="32px;" >
                                <p:rowEditor />
                            </p:column>
                            <p:column headerText="Despedir">
                                <p:commandButton icon="ui-icon-trash"  /> <!-- falta activarle el efecto para llamar al
                                                                          dialogo de confirmacion -->
                            </p:column>
                            <!--  <p:column headerText="Edad">  Implementar un metodo en el main q calcule la 
                            edad
                            
                        </p:column> -->
                        </p:dataTable>
                    </h:form>                    
                </center>
            </ui:define>

        </ui:composition>

    </body>
</html>
